@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('assets/fonts/SFRounded-Regular.woff2') format('woff2'),
  url('assets/fonts/SFRounded-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('assets/fonts/SFRounded-Bold.woff2') format('woff2'),
  url('assets/fonts/SFRounded-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

html,
body {
  font-family: 'SF Pro Rounded', sans-serif;
  touch-action: none !important;
  -webkit-user-drag: none !important;
  user-select: none;
}

:root {
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: none;
  -webkit-user-drag: none;
  user-select: none;
  background: #17212b;
}

#root {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: rgba(17, 17, 17, 0.4);
  overflow: hidden;

  &:before,
  &:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    mix-blend-mode: overlay;
  }

  &:before {
    width: 325px;
    height: 661px;
    bottom: -250px;
    left: -140px;
    background: radial-gradient(
      ellipse at 50% 50%,
      rgba(0, 0, 255, 0.6),
      rgba(0, 0, 255, 0.4),
      rgba(0, 0, 255, 0.2),
      rgba(17, 17, 17, 0.2),
      rgba(17, 17, 17, 0.1) 70%
    );
    opacity: 0.5;
    mix-blend-mode: screen;
    z-index: -1;
  }

  /* Полупрозрачная форма в нижнем правом углу */
  &:after {
    width: 400px;
    height: 690px;
    top: -220px;
    right: -80px;
    background: radial-gradient(
      ellipse at 50% 50%,
      rgba(189, 79, 0, 0.6),
      rgba(189, 79, 0, 0.4),
      rgba(189, 79, 0, 0.2),
      rgba(17, 17, 17, 0.2),
      rgba(17, 17, 17, 0.1) 100%
    );
    transform: rotate(-30deg);
    opacity: 0.5;
    mix-blend-mode: screen; /* Позволяет градиенту смешиваться с фоном */
    z-index: -1;
  }
}

.falling-object {
  width: 20px;
  height: 50px;
  position: absolute;
  transition: top 0.1s linear;
}

.falling-object.green {
  background-color: green;
}

.falling-object.red {
  background-color: red;
}
